.container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    background-image: url("wal.avif");
    background-repeat: no-repeat;
    background-size: cover;
}