.container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    background-image: url("wal.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    height: 600px;
    width: 500px;
    margin: 100px auto;
    background-image: linear-gradient(to right ,#fffcfc9d, #b3b3b179 ,#fffefe7e);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #40443fb7;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#5f5f5f ,#e9e6e6 ,#ebe7e798,#72727215);
    border-radius: 10px 10px 0px 0px;
}
ul li{
    float: left;
    list-style-type: none;

}
ul li a{
    text-decoration: none;
    padding: 17px;
    display: inline-block;
}
.home{
    background-image: linear-gradient(to right ,#fffcfcb0, #64646485 ,#bebebe57);
    min-width: 100px;
    box-shadow: 10px 10px 10px rgb(55, 56, 55);
    position: absolute;
    margin: 0px 10px;
    border-radius: 0px 0px 10px 10px ;
    display: none;

}
.home a{
    display: block;
    color: #080808;
}
.one:hover .home{
    display: block;
}
a:hover{
    background-image: linear-gradient(#fffcfcb0, #64646485 ,#bebebe57);

}